Show Character 3

</br>
<label for="new_name">Name</label>
</br>
<input type="string" id="new_name">
</br>
<label for="new_last_name">Last name</label>
</br>
<input type="string" id="new_last_name">
</br>
<label for="new_importance">Importance</label>
</br>
<input type="integer" id="new_importance">
</br>
<label for="new_summary">Summary 1 sentence</label>
</br>
<input type="string" id="new_summary">
</br>
<label for="new_motivation">Motivation</label>
</br>
<input type="string" id="new_motivation">
</br>
<label for="new_goal">Goal</label>
</br>
<input type="string" id="new_goal">
</br>
<label for="new_epiphany">Epiphany (what he learns on the story)</label>
</br>
<input type="string" id="new_epiphany">
</br>
<button id="saveChanges">Save</button>
<div class="notice"></div>
