form new story


</br>
<label for="new_title">Title</label>
</br>
<input type="text" id="new_title">
</br>
<label for="new_sentence">15 word summary</label>
</br>
<textarea id="new_sentence" cols="40" rows="5"></textarea>
